doctype html
html
  block cool-config
  head
    title=myTitleforGoogleSearch
    mete(name="description", content=myDescriptionforGoogleSearch)
    link(rel="stylesheet", href="style.css")
  body
    block awesome-content