extends _component/layout/page
block cool-config
  -
    var myTitleforGoogleSearch = 'My really ultra awesome CV';
    var myDescriptionforGoogleSearch = 'This is made using PURE HTML5 and CSS3 techniques';
block awesome-content
  h1 this is it
  include _component/landing-page/landing-page
